.tree {
  position: absolute;
  pointer-events: none;
  transform-origin: bottom center;
}

.tree-left {
  left: -3%;
  bottom: 5%;
  width: 280px;
  height: auto;
  z-index: 2;
}

.tree-right {
  right: -3%;
  bottom: 5%;
  width: 300px;
  height: auto;
  z-index: 2;
}

.tree-far-left {
  left: -15%;
  bottom: 3%;
  width: 220px;
  height: auto;
  z-index: 1;
  opacity: 0.7;
}

.tree-far-right {
  right: -12%;
  bottom: 3%;
  width: 200px;
  height: auto;
  z-index: 1;
  opacity: 0.7;
}
