.tree {
  position: absolute;
  pointer-events: none;
  transform-origin: bottom center;
}

.tree-left {
  left: -5%;
  bottom: 0;
  width: 320px;
  height: auto;
  z-index: 2;
}

.tree-right {
  right: -5%;
  bottom: 0;
  width: 350px;
  height: auto;
  z-index: 2;
}

.tree-far-left {
  left: -18%;
  bottom: 0;
  width: 260px;
  height: auto;
  z-index: 1;
  opacity: 0.8;
}

.tree-far-right {
  right: -15%;
  bottom: 0;
  width: 240px;
  height: auto;
  z-index: 1;
  opacity: 0.8;
}
